[submodule "firmware/lib/CMSIS_5"]
	path = firmware/lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "firmware/lib/etl"]
	path = firmware/lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "firmware/lib/DebugPrint-GCC"]
	path = firmware/lib/DebugPrint-GCC
	url = git@github.com:SakuGlumoff/DebugPrint-GCC.git
[submodule "hardware/kicad_libraries"]
	path = hardware/kicad_libraries
	url = git@github.com:SakuGlumoff/kicad_libraries.git
